.wrap {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 10%;
  left: 35%;
  border: 5px solid #30a2ff;
  border-radius: 10px;
  padding: 30px;
  overflow-y: auto; 
  overflow-x: hidden;
}
.wrap::-webkit-scrollbar {
  width: 0.5em; 
  background-color: transparent; 
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title div {
  width: 40px;
  height: 40px;
  font-size: 38px;
  color: #fafafa;
  background-color: #30A2FF80;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
